# Xcode
build/
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
xcuserdata/

# vim
*.swp

# OS X
.DS_Store

# Stuff polish generates
webpage/appcast*.xml
webpage/releasenotes*.html

# CocoaPods
/Pods/

# This is an API key from Dropbox
/Common/DropboxAPIKey_Private.inl
